/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700
*/

.body{
    background-image: url(../images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%) ;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.title{
    font-size: 1.5rem;
    margin: 6rem 4rem 1.5rem 4rem;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 30px;
}

.main-paragraph{
    color: white;
    text-align: center;
    line-height: 25px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.second-paragraph{
    margin: 4.5rem 1.5rem 1.5rem 1.5rem;
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
    text-align: center;
    color: white;
    line-height: 23px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
}

.par-span{
    font-weight: 700;
}

.form{
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 12px;
    box-shadow: 0 20px 10px rgb(0 0 0 / 20%); 
    padding-left: .5rem;
    padding-right: .5rem;
}

.fieldset{
    
    padding-top: 1rem;
    margin-left: 1rem;
    /* margin-right: 1rem; */
    
}

.input{
    margin-bottom: 1rem;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: .5px solid hsl(246, 25%, 77%);
    padding-left: 15px;
}

input:invalid{
    border: 1px solid red;
}

input:valid{
    border: 1px solid green;
}

::placeholder{
    font-weight: 700;
    color: hsl(249, 10%, 26%) ;
}

.btn{
    width: 95%;
    height: 50px;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}

.terms-par{
    font-size: 11.5px;
    color: hsl(246, 25%, 77%);
    text-align: center;
    line-height: 23px;
    margin: .5rem 2.5rem 1rem 1.5rem;
}

.terms-span{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}
/*ERR input*/
.error-message {
    color: red;
    font-size: 12px;
}
/* FOOTER */
.footer{
    margin-left: .5rem;
    margin-top: 3rem;
    bottom: 0;
}

@media all and (min-width:1024px){
    .body{
        background-image: url(../images/bg-intro-desktop.png);
    }
 .main{
        display: flex;
    }   

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .title{
        text-align: left;
        font-size: 3rem;
        line-height: 50px;
        margin-left: 6rem;
    }

    .main-paragraph{
        text-align: left;
        margin-left: 6rem;
    margin-right: 4rem;
    }

    .form-section{
        margin-right: 5rem;
    }

    .form{
        grid-column-start: 2;
    }

    /* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    margin-left: .5rem;
    margin-top: 3rem;
    bottom: 0;
}
}